<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To do App</title>
</head>
<body>
    <form action="index.html" method="post">

          <center>

    <table>
      <tr>
        <th>Task:</th>
        <th>Email:</th>
        <th>Priority:</th>
        <th>Action:</th>
      </tr>


      {% for task in todo_list %}
    <tr>
        <td> {{ task[0] }}</td>
        <td> {{ task[1] }}</td>
        <td>{{ task[2] }}</td>
    </tr>
    {% endfor %}

    </table>

  </center>

          <br>
  <p>
    <b>Create a New Task:</b>
  </p>
  <form action="/submit" method="POST" id="submit">
    <input type="text" name="task" placeholder="Task"></input>
    <input type="text" name="email" placeholder="Email"></input>
    <select name="priority">
      <option value="Blank">Select Priority</option>
      <option value="Low">Low</option>
      <option value="Medium">Medium</option>
      <option value="High">High</option>
    </select>
    <br>
    <br>
    <button type="submit">Add To List</button>
  </form>
  <p>
    <b>Clear All Tasks:</b>
  </p>
  <form action="/clear" method="POST">
    <button type="submit">Clear</button>
  </form>


</body>
</html>