<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"To do App"</title>
</head>
<body>

          <center>

    <table>
      <tr>
        <th>Task:</th>
        <th>Email:</th>
        <th>Priority:</th>
        <th>Action:</th>
      </tr>

    {% for task in to_do %}
      <tr>
        <td>{{ task.task }}</td>
        <td>{{ task.email }}</td>
        <td>{{ task.priority }}</td>
        <td>
          <form action="/delete" method="POST">
            <button type="submit">Delete</button>
            <input type="hidden" name="index" value="{{ loop.index0 }}">
          </form>
        </td>
      </tr>
      {% endfor %}
      <br><br>

    </table>

  </center>

          <br>
  <p>
    <b>Create a New Task:</b>
  </p>
  <form action="/submit" method="POST" id="submit">
    <input type="text" name="task" placeholder="Task"></input>
    <input type="text" name="email" placeholder="Email"></input>
    <select name="priority">
      <option value="Blank">Select Priority</option>
      <option value="Low">Low</option>
      <option value="Medium">Medium</option>
      <option value="High">High</option>
    </select>
    <br>
    <br>
    <button type="submit">Add To List</button>
  </form>
  <p>
    <b>Clear All Tasks:</b>
  </p>
  <form action="/clear" method="POST">
    <button type="submit">Clear</button>
  </form>


</body>
</html>